<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class = "top-header">
                <div class="logo-ml">
                  <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"/>
                </div>
                <div class="header-form" action="#" method="GET"> 
            
                    <input class="bar" type="text" name="headerSearch" placeholder="Buscar productos,marcas y mas">
                    <button class="fa-solid fa-magnifying-glass"type="submit" alt="Buscador header"></button>
 
                </div>
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav> 
                <ul> 
                    <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a>
                </ul>
                <ul> 
                   <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                   <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                   <a href="/#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>        
        <main class="login"> <!--log in-->
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="submit" value="Enviar">
            </form>
        </main> <!--log in-->
        <footer>
            <div class="end-section">
             <div>
                 <div class="icono">
                     <i class="fas fa-credit-card"></i>
                 </div>    
                 <h4>Paga con tarjeta o en efectivo</h4>
                 <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
             </div>
             <div>
                 <div class="icono">
                     <i class="fas fa-gift"></i>
                 </div>    
                 <h4>Envio gratis desde los $2.500</h4>
                 <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
             </div>
             <div>
                 <div class="icono">
                     <i class="fas fa-user-shield"></i>
                 </div>    
                 <h4>Seguridad de principio a fin</h4>
                 <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@</p>
             </div>
           </div>
             <p>Copyright | 1999-2020 MercadoLiebre S.R.L</p>
         </footer>
         <script src="https://kit.fontawesome.com/3cd688ab22.js" crossorigin="anonymous"></script>
     </body>
 </html>